@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>链接到ActionLinkAction @Html.ActionLink("我要打开本Controller 中的ActionLinkExercise Action","ActionLinkExercise")</p>

@Html.ActionLink("打开有参考的Action", "ActionLinkExercise", new { UserName="jim"})

@Html.ActionLink("打开HomeController中的Contact Action","Contact","Home")

@Html.ActionLink("生成一个链接,可以自定义ID属性","ActionLinkExercise",new {UserName="jiguixin"},new {id="idTest",name="nameTest"})
<br/>
<p>下面生TextBox</p>
@Html.TextBox("txtName","jiguixin")
@Html.TextBox("txtValue","有样式",new {id="txtId",maxlength="20",size="15", style="width:300px;"})
 
<p>下面是生成TextArea</p>
@Html.TextArea("txtArea","this is my Text",4,3,new{id="txtAreaId"} )

<p>下面是生成CheckBox</p>
@Html.CheckBox("chkYes", true) 对 --- @Html.CheckBox("chkNo",false) 错

